@import '../../utils/styles/colors.less';

.castle-detail {
    width: 100%;
    height:100%;

    .back{
        margin: auto;
        width: 90%;
        button{
            &:hover {
                                   // Texte sombre au survol
                transform: scale(1.03);                     // Effet de zoom
              }  
        }
    }
    
    .flexContainer {
        margin: 1% 5% 5px 5%;
        display: flex;
        justify-content: space-between;
        
        .image-container {
            border-radius: 15%;
            position: relative;
            text-align: center;
            width: 60%;
            height: 80vh;

            img {
                width: 100%;
                height: 100%;
                border: 8px solid @brand-accent;
                object-fit: cover;
                border-radius: 8px;
            }
          
            .prev-button,
            .next-button {
                position: absolute;
                top: 50%;
                color: white;
                border: none;
                padding: 10px;
                cursor: pointer;
                border-radius: 50%;
                font-size: 18px;
                height: 5rem;
                width: 5rem;
                opacity: 0.7;
            }
                
            .prev-button {
                left: 5%;
                transform: rotate(180deg);
            }
                
            .next-button {
                right: 5%;
            }
                
            .image-indicators {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translateX(-50%);
                        
                .indicator {
                    width: 1vw;
                    height: 1vw;
                    border-radius: 50%;
                    background-color: fade(@brand-accent, 70%);
                    margin: 0 5px;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                            
                    &.active {
                        background-color: @brand-accent;
                        opacity: 1;
                        transform: scale(1.7);
                    }
                }
            }
        }

        .details {
            border: 8px solid @brand-accent;
            background-color: @transparent-light;
            color:  @neutral-black;
            backdrop-filter: blur(1.5px);
            width: 30%;
            height: 80vh;
            border-radius: 5%;
            height: 100%;
    
            .dimensions,
            .detailed-description {
                padding: 10px;
                
        
                h2 {
                    display: flex;
                    justify-content: center;
                    font-size: 3rem;
                    padding: 1vw;
                }

                h3 {
                   
                    display: flex;
                    justify-content: center;
                    font-size: 2rem;
                    margin-bottom: 1vw;
                    padding: 1vw;
                    
                }
        
                p { 
                    display: flex;
                    justify-content: center;
                    width: 80%;
                    margin: 0 10%;
                    font-size: 0.9rem;
                    
                    padding: 1vw;
                    
                }
                

                
                
            }
// 17juin 1952
            .dimensions {
                
                display: flex;
                justify-content: space-around;
                align-items: center; /* Centrer les items verticalement */
               border-bottom: 1px solid black;
               border-top: 1px solid black;

                img {
                    display: block;
                    margin: 0 auto; /* Centrer horizontalement */
                    height: 2vw;
                    width: 2vw;
                }
                .largeur img{
                    transform: rotate(45deg);
                }
                .longueur img{
                    transform: rotate(90deg);
                }

                p {
                    margin-left: 10px; /* Espacement entre l'image et le texte */
                }
            }
        }
    }
}

@media(max-width: 1000px){
    .castle-detail {
      
    
        .back{
            
            button{
                &:hover {
                  
                  }  
            }
        }
        
        .flexContainer {
            flex-direction: column;
            
            
            .image-container {
                
                width: 100%;
                height: 30vh;
    
                img {
                   
                }
              
                .prev-button,
                .next-button {
                  
                }
                    
                .prev-button {
                    
                }
                    
                .next-button {
                    
                }
                    
                .image-indicators {
                   
                            
                    .indicator {
                        
                                
                        &.active {
                           
                        }
                    }
                }
            }
    
            .details {
                width: 100%;
                
                .dimensions{
                    img{
                        height: 10vw !important;
                    }
                }
                .dimensions,
                .detailed-description {
                   
                    
            
                    h2 {
                       
                    }
    
                    h3 {
                       
                        
                        
                    }
            
                    p { 
                        
                        
                    }
                    
    
                    
                    
                }
    // 17juin 1952
                .dimensions {
                    
    
                    img {
                        
                    }
                    .largeur img{
                        
                    }
                    .longueur img{
                        
                    }
    
                    p {
                        
                    }
                }
            }
        }
    }
}