.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajustez selon vos besoins, ex: center, flex-start, flex-end */
    align-items: flex-start; /* Ajustez selon vos besoins, ex: center, flex-end */
    margin: 10px;
    
}

.card {
    flex: 0 1 calc(33.333% - 20px); /* Trois éléments par ligne avec une marge de 20px */
    margin: 10px;
}
