.cards-container {
  width: 100%;
}
.cards-container .display {
  display: flex;
  justify-content: space-around;
}
.cards-container .containerGirl {
  background-image: url('C:/Users/teren/Desktop/funjumplocation/jumpfun/src/assets/images/fondCard/4994981.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  margin-top: 70px;
  margin-bottom: 30px;
}
.cards-container .containerGirl h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  /* Couleur de texte ajustée */
}
.cards-container .containerBoys {
  background-image: url('C:/Users/teren/Desktop/funjumplocation/jumpfun/src/assets/images/fondCard/580.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  margin-top: 70px;
  margin-bottom: 30px;
}
.cards-container .containerBoys h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  /* Couleur de texte ajustée */
}
.cards-container .containerMixte {
  background-image: url('C:/Users/teren/Desktop/funjumplocation/jumpfun/src/assets/images/fondCard/13104.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  margin-top: 70px;
  margin-bottom: 30px;
}
.cards-container .containerMixte h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  /* Couleur de texte ajustée */
}
.card {
  flex: 0 1 calc(33.333% - 20px);
  margin: 10px;
}
