@import '../../../utils/styles/colors.less';

@img-width: 400px;   // Largeur uniforme pour chaque carte
@img-height: 200px;  // Hauteur uniforme pour chaque carte
@tTransition : 0.5s ease;

.containerCard {
    border: 5px solid @primary;
    text-align: center;
    width: 30%;
    height: 60%;
  
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10% 2%  10% 2%;
    background-color: #fff;
    overflow: hidden;
    transition: transform @tTransition, box-shadow @tTransition; // Transition pour des transitions douces

    .img-container {
        width: @img-width;
        height: @img-height;
        overflow: hidden;
        background-color: @background-light; // Utilisation d'une couleur de fond légère

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform @tTransition; // Transition pour l'image
        }
    }

    .description {
        border: 2px solid @primary; // Utilisation de la couleur de bordure définie
        padding: 40px;
        transition: background-color @tTransition, color @tTransition, border @tTransition;
        height: 250px;
        h3 {
            font-size: 2.5em;
            font-weight: bold;
            color: @text-color-dark; // Utilisation de la couleur de texte sombre
            margin-bottom: 30px;
        }

        p {
            margin-top: 10px;
            font-size: 1em;
        }
    }

    &:hover {
        border: 5px solid @accent; // Utilisation de la couleur d'accent lors du survol
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
        transform: scale(1.05);
        transition: transform @tTransition, box-shadow @tTransition,border @tTransition;

        .img-container img {
            transform: scale(1.1);
        }

        .description {
            border: 2px solid @accent; // Utilisation de la couleur d'accent pour la bordure
            background-color: rgba(7, 2, 1, 0.764);
            color: @accent; // Utilisation de la couleur d'accent pour le texte
            transition: transform @tTransition,border @tTransition,background-color @tTransition;
            h3 {
                
                font-weight: 900;
                color: @accent ; // Utilisation de la couleur de texte sombre
                
            }
        }
    }
}
