/* ===========================
      2. Couleurs neutres (Neutral Colors)
      =========================== */
/* ===========================
    . États interactifs (State Colors)
      =========================== */
/* ===========================
      8. Couleurs spéciales (Special Colors)
      =========================== */
/* Variables de dimension et transition */
/* Conteneur principal des cartes */
.containerCard {
  border: 5px solid #f0f0f0e1;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCard .img-container {
  width: 100%;
  overflow: hidden;
}
.containerCard .img-container img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.containerCard .description {
  padding: 20px;
  border-top: 2px solid #f0f0f0e1;
  background-color: #f0f0f0e1;
  transition: background-color 0.5s ease, color 0.5s ease;
  text-align: left;
}
.containerCard .description h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.containerCard .description p {
  font-size: 1em;
  color: #555555;
  height: 10vh;
}
.containerCard:hover {
  border-color: #ffd499;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.containerCard:hover .img-container img {
  transform: scale(1.1);
}
.containerCard:hover .description {
  background-color: rgba(7, 2, 1, 0.764);
  color: #ffd499;
  border-top: 2px solid #ffd499;
}
.containerCard:hover .description h3 {
  color: #ffd499;
}
.containerCard:hover .description p {
  color: #ffd499;
}
/* Responsivité */
@media (max-width: 768px) {
  .containerCard {
    max-width: 90%;
  }
  .description {
    padding: 15px;
  }
  .description h3 {
    font-size: 1.2em;
  }
  .description p {
    font-size: 0.9em;
  }
}
