.stripContact {
  display: flex;
  justify-content: space-between;
  /* Sépare le numéro et les icônes */
  align-items: center;
  padding: 0.4vw;
  border: 2px solid #ffd499;
}
.stripContact .phoneNumber {
  margin-left: 2vw;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, transform 0.3s ease;
}
.stripContact .phoneNumber:hover {
  color: darkorange;
  /* Change la couleur au survol */
  transform: scale(1.2);
  /* Ajoute un léger agrandissement */
}
.stripContact .socialIcons {
  display: flex;
  gap: 1vw;
  /* Ajoute un espace entre les icônes */
  margin-right: 2vw;
}
.stripContact .socialIcons a {
  display: inline-block;
  transition: transform 0.3s ease;
}
.stripContact .socialIcons a:hover {
  transform: scale(1.3);
  /* Ajoute un léger agrandissement au survol */
}
.stripContact .socialIcons a img {
  height: 2vw;
}
.header {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: aliceblue;
  /* Utilisation de la couleur secondaire */
  overflow: hidden;
  z-index: 1;
  background-color: rgba(7, 2, 1, 0.764);
  /* Utilisation de la couleur de fond pour l'en-tête */
}
.header p {
  font-family: 'Dancing Script', cursive;
  color: #fff;
  /* Utilisation de la couleur de texte clair */
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  /* Utilisation de la couleur d'accent */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header img {
  width: 50px;
  transition: transform 0.3s ease;
}
.header a {
  color: aliceblue;
  /* Utilisation de la couleur secondaire */
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.header a .inactive:hover {
  color: #333;
  /* Utilisation de la couleur principale lors du survol */
}
.header a .inactive:hover img {
  transform: scale(1.3);
}
.header a .inactive:hover p {
  color: #fff;
  /* Utilisation de la couleur de texte clair */
  transform: translateY(7px);
}
.header a .inactive:hover p::after {
  transform: scaleX(1);
}
.header a .active p {
  color: #ffd499;
  /* Utilisation de la couleur d'accent pour les éléments actifs */
  transform: translateY(7px);
}
.header a .active:hover p {
  color: #ffd499;
  /* Utilisation de la couleur d'accent lors du survol */
  transform: translateY(7px);
}
