.header {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #000000;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(7, 2, 1, 0.764);
}
.header p {
  font-family: 'Dancing Script', cursive;
  color: aliceblue;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fffffe;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header img {
  width: 50px;
  transition: transform 0.3s ease;
}
.header a {
  color: #000000;
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.header a:hover {
  color: #ffb300;
}
.header a:hover img {
  transform: scale(1.3);
}
.header a:hover p {
  color: white;
  transform: translateY(7px);
}
.header a:hover p::after {
  transform: scaleX(1);
}
.selection {
  color: #ffd499;
}
.selection p {
  color: #ffd499;
}
