/* ===========================
   1. Couleurs de la marque (Brand Colors)
   =========================== */
/* ===========================
      2. Couleurs neutres (Neutral Colors)
      =========================== */
/* ===========================
    . États interactifs (State Colors)
      =========================== */
/* ===========================
      4. Couleurs contextuelles (Context Colors)
      =========================== */
/* ===========================
      5. Couleurs de texte (Text Colors)
      =========================== */
/* ===========================
      6. Couleurs d'arrière-plan (Background Colors)
      =========================== */
/* ===========================
      7. Couleurs des bordures (Border Colors)
      =========================== */
/* ===========================
      8. Couleurs spéciales (Special Colors)
      =========================== */
/* ===========================
9. Couleurs transparentes (Transparent Colors)
=========================== */
/* ===========================
10. Effet de flou (Blur Effects)
=========================== */
.invisible {
  display: none;
  opacity: 0;
  pointer-events: none;
  /* Désactive les clics */
}
.header {
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: #ffffff;
  /* Couleur de texte */
  overflow: hidden;
  z-index: 1;
  background-color: #333;
  /* Couleur de fond */
}
.header p {
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.header img {
  width: 50px;
  transition: transform 0.3s ease;
}
.header a {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.header a.inactive:hover {
  color: #333;
}
.header a.inactive:hover img {
  transform: scale(1.3);
}
.header a.inactive:hover p {
  color: #ffffff;
  transform: translateY(7px);
}
.header a.inactive:hover p::after {
  transform: scaleX(1);
}
.header a.active p {
  color: #ffd499;
  transform: translateY(7px);
}
.header a.active:hover p {
  color: #ffd499;
  transform: translateY(7px);
}
@media (max-width: 1000px) {
  .header {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    /* Gestion du défilement pour les petits écrans */
  }
  .header.slide-in {
    animation: slideIn 1s ease forwards;
  }
  .header.slide-out {
    animation: slideOut 1s ease forwards;
  }
  .header a {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 15px;
    background-color: #404040;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  .header a:hover {
    background-color: #333;
  }
  .header a p {
    font-size: 1.5rem;
  }
  .header a img {
    width: 70px;
  }
}
/* Définir l'animation pour la navbar qui entre */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Définir l'animation pour la navbar qui sort */
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
