.containerStyle {
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  border: 10px solid #ffd499;
  border-radius: 0 0 20% 20% ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #160801d5;
}
.containerStyle .descriptif,
.containerStyle img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd499;
}
.containerStyle img {
  height: 90%;
  width: 30%;
  margin: auto;
  border-radius: 20% 0 20% 0;
  border: #ffd499 2px solid;
}
.containerStyle h1 {
  font-size: 5rem;
}
.containerStyle .descriptif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 30%;
}
