.containerStyle {
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  border: 10px solid #ffd499;
  /* Utilisation de la couleur d'accent */
  border-radius: 0 0 20% 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(22, 8, 1, 0.84);
  /* Utilisation de la couleur de fond sombre */
}
.containerStyle .descriptif {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd499;
  /* Utilisation de la couleur d'accent pour le texte */
}
.containerStyle h1 {
  font-size: 5rem;
  color: #ffd499;
  /* Utilisation de la couleur de texte sombre pour le titre */
}
.containerStyle .descriptif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 30%;
}
