@import '../../utils//styles/colors.less';

.containerStyle {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    border: 10px solid @accent; /* Utilisation de la couleur d'accent */
    border-radius: 0 0 20% 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: @background-dark; /* Utilisation de la couleur de fond sombre */

    .descriptif{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: @accent; /* Utilisation de la couleur d'accent pour le texte */
    }

    // img {
    //     height: 90%;
    //     width: 30%;
    //     margin: auto;
    //     border-radius: 20% 0 20% 0;
    //     border: @accent 2px solid; /* Utilisation de la couleur d'accent pour la bordure de l'image */
    // }

    h1 {
        font-size: 5rem;
        color: @accent; /* Utilisation de la couleur de texte sombre pour le titre */
    }

    .descriptif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 0 30%;
    }
}
