.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* Centrer le texte */
  color: #ffffff;
  background-color: #d77f056f;
  align-items: center;
}
.footer a {
  color: #ffffff;
  margin-right: 15px;
  text-decoration: none;
}
.footer a:hover {
  color: #f5d432;
}
.footer a img {
  height: 20px;
  width: auto;
}
@media (max-width: 800px) {
  .footer {
    color: #ff7fe3;
    font-size: 53px;
    line-height: 79.5px;
  }
}
