@import '../../../utils/styles/colors.less';
@import '../../../utils/styles/mixins/mixinQuery.less';

.FeatureHighlight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .invisibleb{
    // display: block;
    background-color: aqua !important;
  }
@media (max-width: 1000px) {
    .FeatureHighlight {
      flex-direction: column;
    }}
    .invisibleb{
      // display: none !important;
      background-color: aqua !important;
    }