/* ===========================
   1. Couleurs de la marque (Brand Colors)
   =========================== */
/* ===========================
      2. Couleurs neutres (Neutral Colors)
      =========================== */
/* ===========================
    . États interactifs (State Colors)
      =========================== */
/* ===========================
      4. Couleurs contextuelles (Context Colors)
      =========================== */
/* ===========================
      5. Couleurs de texte (Text Colors)
      =========================== */
/* ===========================
      6. Couleurs d'arrière-plan (Background Colors)
      =========================== */
/* ===========================
      7. Couleurs des bordures (Border Colors)
      =========================== */
/* ===========================
      8. Couleurs spéciales (Special Colors)
      =========================== */
/* ===========================
9. Couleurs transparentes (Transparent Colors)
=========================== */
/* ===========================
10. Effet de flou (Blur Effects)
=========================== */
.FeatureHighlight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.invisibleb {
  background-color: aqua !important;
}
@media (max-width: 1000px) {
  .FeatureHighlight {
    flex-direction: column;
  }
}
.invisibleb {
  background-color: aqua !important;
}
