/* Index.css */
* {
  margin: 0;
  padding: 0;
}
/* Appliquer à l'ensemble du corps de la page */
.body {
  display: flex;
  flex-direction: column;
  /* Disposer les éléments en colonne */
  min-height: 100vh;
  /* La hauteur minimale est de 100% de la fenêtre */
  margin: 0;
  /* Supprimer les marges par défaut */
  background-image: url('C:/Users/teren/Desktop/funjumplocation/jumpfun/src/assets/images/imageFond/fondRR.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#root {
  flex: 1;
  /* Permet au conteneur principal de prendre l'espace restant */
}
.footerContainer {
  margin-top: auto;
  /* Force le footer à rester en bas */
}
