@import './utils/styles/colors.less';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Londrina+Sketch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Dancing Script', cursive;
  font-stretch: ultra-expanded;
}

p {
  font-family: 'Londrina+Sketch', cursive;
}

/* Taille fluide pour les grands écrans (desktop) */
h1 {
  font-size: clamp(2rem, 5vw, 3rem);  // La taille varie entre 2rem et 3rem, en fonction de la largeur de la fenêtre
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2.25rem);  // La taille varie entre 1.5rem et 2.25rem
}

h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);  // La taille varie entre 1.25rem et 1.75rem
}

p {
  font-size: clamp(0.875rem, 2.5vw, 1rem);  // La taille varie entre 0.875rem et 1rem
}

/* Ajustement pour les tablettes (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: clamp(1.75rem, 6vw, 2.5rem);  // La taille varie entre 1.75rem et 2.5rem
  }

  h2 {
    font-size: clamp(1.25rem, 5vw, 2rem);  // La taille varie entre 1.25rem et 2rem
  }

  h3 {
    font-size: clamp(1.125rem, 4vw, 1.5rem);  // La taille varie entre 1.125rem et 1.5rem
  }

  p {
    font-size: clamp(0.875rem, 3vw, 1rem);  // La taille varie entre 0.875rem et 1rem
  }
}

/* Ajustement pour les smartphones (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: clamp(1.5rem, 7vw, 2rem);  // La taille varie entre 1.5rem et 2rem
  }

  h2 {
    font-size: clamp(1.125rem, 6vw, 1.75rem);  // La taille varie entre 1.125rem et 1.75rem
  }

  h3 {
    font-size: clamp(1rem, 5vw, 1.25rem);  // La taille varie entre 1rem et 1.25rem
  }

  p {
    font-size: clamp(0.875rem, 4vw, 1rem);  // La taille varie entre 0.875rem et 1rem
  }
}


/* Appliquer à l'ensemble du corps de la page */
.body {
  display: flex;
  flex-direction: column; /* Disposer les éléments en colonne */
  min-height: 100vh; /* La hauteur minimale est de 100% de la fenêtre */
  margin: 0; /* Supprimer les marges par défaut */
  background-image: url('C:/Users/teren/Desktop/funjumplocation/jumpfun/src/assets/images/imageFond/fondRR.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: moveIndexBackground 20s infinite alternate;

  #root {
    flex: 1; /* Permet au conteneur principal de prendre l'espace restant */
  }

  .footerContainer {
    margin-top: auto; /* Force le footer à rester en bas */
  }
}

@keyframes moveIndexBackground {
  0% {
    background-position: center;
  }
 
  50% {
    background-position: 40% 40%;
    
  }
  100% {
    background-position: center;
  }
}

