/* ===========================
      2. Couleurs neutres (Neutral Colors)
      =========================== */
/* ===========================
    . États interactifs (State Colors)
      =========================== */
/* ===========================
      8. Couleurs spéciales (Special Colors)
      =========================== */
.cardRedirectionLink {
  text-decoration: none;
  /* Remove underline from link */
  color: inherit;
  /* Inherit text color */
}
.cardRedirectionContainer {
  transition: transform 0.3s ease;
  cursor: pointer;
  /* Add pointer cursor to indicate clickable area */
  border: 2px solid black;
  margin: 4vw 20vw ;
  background: #ffd499;
}
.cardRedirectionContainer .titleCard {
  text-align: center;
  background: #ffd499;
  padding: 1vw;
}
.cardRedirectionContainer .cardPresentation {
  border-radius: 30px;
  background: #fbf9f9;
  display: flex;
  padding: 2vw;
  justify-content: space-around;
  align-items: center;
}
.cardRedirectionContainer .cardPresentation p {
  text-align: left;
  margin: 2vw;
}
.cardRedirectionContainer .cardPresentation img {
  height: 15vw;
  border: 5px solid black;
  padding: 2vw;
}
.cardRedirectionContainer:hover {
  transform: scale(1.05);
  /* Scale up the component slightly */
}
